@page
@model ListModel
@{
    ViewData["Title"] = "Vehicles list";
}
<link rel="stylesheet" href="~/css/list.css" />

<div class="main-container">
    <h2>Rentable vehicles</h2>

    <div class="list-container">

        @foreach (var vehicle in Model.Vehicles)
        {
            <div class="vehicle-card">
                <img src="@vehicle.ImagePath" class="card-img-top" alt="vehicle image">
                <div class="vehicle-card-body">
                    <div class="top">
                        <h5 class="card-title">@vehicle.Brand @vehicle.Model</h5>
                        <p class="card-text">@vehicle.Description</p>
                    </div>
                    <div class="bottom">
                        <h6>@vehicle.DailyRentalPrice $/day</h6>
                        <a href="infoCars/@vehicle.Id">Details↗</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>