@page
@model RentModel
@{
    ViewData["Title"] = "Reservations list";
    @using System.Globalization
    var culture = new CultureInfo("en-US");
}
<link rel="stylesheet" href="~/css/reservations.css" asp-append-version="true" />

<div class="main-container">
    <h2>My reservations</h2>

    

        @if (Model.locations.Count == 0)
        {
            <p>No reservations :(</p>
        }
    <div class="list-container">
        @foreach (var location in Model.locations)
        {
          <div class="rent-card">
                    <!-- location.ImagePath -->
                <img src="@location.VehicleImagePath" class="card-img-top" alt="vehicle image">
                <div class="card-body">
                <p>Reservation Id : @location.Id</p>
                <p>Vehicle : @location.VehicleName</p>
                <p>Start date : @location.DateStart.ToString("dd MMMM yyyy", culture)</p>
                <p>End date : @location.DateEnd.ToString("dd MMMM yyyy", culture)</p>
                <p>Price : @location.TotalPrice</p>
            </div>
          </div>
        }
    </div>
</div>